html,
body {
  margin: 0;
  padding: 0;
  --maincolor: #050607;
  --secondcolor: #eceadf;
  --thirdcolor: #dc2121;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media only screen and (min-width: 1200px)  {

  cursor: none;

  }

  background: var(--maincolor);
}

body,
.page-container {
  scroll-behavior: smooth;
}

html {
  background: #000;
  overflow-x: hidden;
  font-size: 6px;
}

body {
  background: var(--maincolor);
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}

.cursor {
    display: none;
}
@media only screen and (min-width: 1200px) {
.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
  display: block;
  border: 1px solid var(--secondcolor);
}

.cursor h1 {
  display: none;
}

.cursor.hoveredCursor {
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.cursor.hoveredCursor.about-hovered {
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}

.cursor.hoveredCursor.about-hovered h1 {
  display: block;
  line-height: 20px;
  font-size: 8px;
  text-align: center;
  padding: 0;
  margin: auto;
}

.cursor.animate:after {
  background: var(--secondcolor);
  -webkit-animation: cursorAnimation 0.5s ease forwards;
          animation: cursorAnimation 0.5s ease forwards;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

}

@-webkit-keyframes cursorAnimationEnd {
  99% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

@keyframes cursorAnimationEnd {
  99% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

@-webkit-keyframes cursorAnimation {
  0% {
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
  }

  99% {
    width: 102px;
    height: 102px;
    transform: translate(-50%, -50%);
  }

  100% {
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
  }
}

@keyframes cursorAnimation {
  0% {
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
  }

  99% {
    width: 102px;
    height: 102px;
    transform: translate(-50%, -50%);
  }

  100% {
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
  }
}

#my-scrollbar {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--secondcolor);
  cursor: none;
}

a:hover {
  cursor: none;
}

h1 {
  font-size: calc(4rem + .5vw);
  letter-spacing: 0.2vw;
  line-height: 4vw;
  color: var(--secondcolor);
  text-align: start;
  padding: 0 3vw;
}

h2 {
  font-size: 3vw;
  letter-spacing: 0px;
  line-height: 4vw;
  color: var(--secondcolor);
  text-align: center;
}

h3 {
  font-size: 0.7vw;
  color: var(--secondcolor);
  letter-spacing: 5px;
  font-weight: 200;
  line-height: 5vh;
  margin: 0;
}

h4 {
  font-size: 1vw;
  color: var(--thirdcolor);
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 5vh;
  margin: 0;
}

h5 {
  letter-spacing: 0px;
  margin: 0;
}

@-webkit-keyframes introLine {
  to {
    width: 100vw;
  }
}

@keyframes introLine {
  to {
    width: 100vw;
  }
}

.page-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  visibility: visible;
}

.about {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  &__content {

    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    &__title-1, &__title-2 {

    
    h1 {
        font-size: calc(32rem + .5vw);
        margin: 0;
        position: absolute;
          top: 50%;
          left: 50%;
          width: 94vw;
          transform: translate(-50%, 1100%);
          font-weight: 400;
          -webkit-animation: introTitle 1.2s 1s ease forwards;
                  animation: introTitle 1.2s 1s ease forwards;

    
    }

    @media only screen and (max-width: 600px)  {

        h1 {

        
        font-size: calc(15rem + .5vw);

    }
    }

}

    &__title-1,
    &__title-2,
    &__title-3 {
      position: absolute;
      transform: translate(0, -50%);
      height: 30vh;
      overflow: hidden;
    }

    &__title-1 {
      top: 28vh;
      left: 6vw;
      width: 94vw;
    }

    &__title-2 {
        bottom: 2vh;
        right: 6vw;
        width: 94vw;
        z-index: 1;
  
        h1 {
          text-align: end;
        }
      }



    &__title-3 {
      top: 50%;
      left: 50%;
      width: 0vw;
      height: 5px;
      transform: translate(-50%, -50%);
      background: var(--secondcolor);
      -webkit-animation: introLineAnimation 0.88s ease forwards;
              animation: introLineAnimation 0.88s ease forwards;

      h1 {
        transform: translate(-50%, calc(-50% + 60vw));
        display: grid;
        position: absolute;
        left: 50%;
        color: var(--maincolor);
        top: 50%;
        margin: 0;
        padding: 2vw;
        width: 20vw;
        height: 28vw;
        font-weight: 600;
      }

      &__desc-1 {
        font-size: calc(1.7rem + .5vw);
        line-height: normal;
        justify-items: start;
        text-align: left;
        align-items: end;
      }

      &__desc-2 {
        align-items: start;
        font-size: calc(1.3rem + .5vw);
        text-align: end;
        justify-items: end;
        line-height: normal;
      }
    }

    @media only screen and (max-width: 996px) { 
        &__title-3 {
        width: 39vw;
        height: 5px;

          h1 {
              width: 39vw;
              height: 53vw;
          }
        }
    }

    @media only screen and (max-width: 600px) { 
        &__title-3 {
          width: 50vw;
          height: 5px;

          h1 {
              width: 44vw;
              height: 63vw;
          }
        }
    }

    &__images {
      position: absolute;
      top: 52%;
      left: 50%;
      width: calc(72rem + .5vw);
      height: calc(56rem + .5vw);
      transform: translate(-50%, -50%);


      &__img {
        width: calc(21rem + .5vw);
        height: calc(29rem + .5vw);
        position: absolute;
        overflow: hidden;
       
        img {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 300px;
            left: 50%;
            transform: translate(-50%, 0);
            -webkit-animation: images 1.2s 1s ease forwards;
                    animation: images 1.2s 1s ease forwards;
        }
      }

      .img-1 {
        top: 0%;
        left: 0;
      }

      .img-2 {
        top: 0%;
        left: 35%;
      }

      .img-3 {
        top: 0%;
        left: 70%;
      }

      .img-4 {
        top: 58%;
        left: 0%;
      }

      .img-5 {
        top: 58%;
        left: 35%;
      }

      .img-6 {
        top: 58%;
        left: 70%;
      }

      

      @-webkit-keyframes images {
        0% {
          top: 100%;
        }

        100% {
          top: 0%;
        }
      }

      

      @keyframes images {
        0% {
          top: 100%;
        }

        100% {
          top: 0%;
        }
      }
    }


    @media only screen and (max-width: 600px) {

        &__images {
            width: calc(43rem + .5vw);
            height: calc(34rem + .5vw);

            &__img {
                width: calc(12rem + .5vw);
                height: calc(17rem + .5vw);
            }
    }
    }

    &.about-hovered {

        overflow: visible;

      .about__content {
        &__title-1 h1 {
          transform: translate(-50%, 1100%) !important;
          transition: 0.5s;
          
        }

        &__title-2 h1 {
          transform: translate(-50%, 1100%) !important;
          transition: 0.5s;
        }
        
        
        &__title-3 {
          -webkit-animation: lineAnimation 1.5s ease forwards;
                  animation: lineAnimation 1.5s ease forwards;

          h1 {
            transform: translate(-50%, calc(-50%));
            transition: 1s;
            transition-delay: 0.5s;
          }
        }

        &__images {
          &__img {
            position: absolute;
            top: 50%;
            left: 50%;
            transition: 0.2s;
            transition-delay: 0.5s;
          }

          .img-1 {
            left: -35vw !important;
            top: -15vw !important;
            transform: scale(1.5);
          }

          .img-2 {
            left: -22vw !important;
            top: 0vw !important;
            transform: scale(2);
          }

          .img-3 {
            left: 50vw !important;
            top: 0vw !important;
            transform: scale(0.8);
          }

          .img-4 {
            left: -20vw !important;
            top: 25vw !important;
            transform: scale(1);
          }

          .img-5 {
            left: 35vw !important;
            top: 20vw !important;
            transform: scale(1.5);
          }

          .img-6 {
            left: 20vw !important;
            top: 2vw !important;
            transform: scale(2.5);
          }

          @media only screen and (max-width: 996px) {
            .img-1 {
              left: -24vw !important;
              top: -45vw !important;
            }
  
            .img-2 {
                left: -150vw !important;
                top: 0vw !important;
            }
  
            .img-3 {
              left: 73vw !important;
              top: 0vw !important;
            }
  
            .img-4 {
              left: -20vw !important;
              top: 80vw !important;
            }
  
            .img-5 {
                left: 50vw !important;
                top: -80vw !important;
            }
  
            .img-6 {
                
                left: 47vw !important;
              top: 44vw !important;
              transform: scale(1.5);
            }
        }
        }
      }
    }

    &__scroll-line {
      left: 70%;
      position: absolute;
      width: 2px;
      height: 0vh;
      background: var(--secondcolor);
      transform: translate(0, 0);
      top: 65vh;

      &__circle {
        width: 8.16vw;
        height: 8.16vw;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50%;
        font-size: calc(1rem + .5vw);
        display: grid;
        place-items: center;
        color: transparent;

        &.visible {
          color: var(--secondcolor);
          transition: 0.5s 2.5s color;
          visibility: visible;
        }

        &__progress-ring {
          position: absolute;
          left: 50%;
          bottom: 100%;
          transform: translate(-50%, 0);
          width: 8.16vw;
          height: 8.16vw;
          visibility: hidden;

          &.visible {
            visibility: visible;
          }

          &__circle {
            transition: 1s 2s stroke-dashoffset;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
          }
        }

        @media only screen and (max-width: 996px) {
            &__progress-ring {
                transform: translate(-50%, -50%) scale(2);
            }
          }
      }
      @media only screen and (max-width: 996px) {

        &__circle {
            transform: translate(-50%, -50%);
        }
    }

    }

    @media only screen and (max-width: 996px) {
        &__scroll-line {
            top: 85vh;
            width: 1.5px;
    }

}
  

  &__skill {
    overflow: hidden;
    align-items: center;
    justify-items: stretch;
    -moz-column-gap: 1vw;
         column-gap: 1vw;

    h5 {
        font-size: calc(4rem + .5vw);
        color: var(--secondcolor);
        letter-spacing: 0px;
        font-weight: 400;
        margin: 0;
        font-style: italic;
        line-height: 150%;
    }

    &-1 {
        grid-template: repeat(5, 1fr) / 1fr;
        display: grid;
        height: auto;
        position: absolute;
        top: 35vh;
        left: 5vw;
    }

    &-2 {
        top: 63vh;
        left: 20vw;
        grid-template: repeat(4, 1fr) / 1fr;
        display: grid;
        height: auto;
        position: absolute;
    }

    &-3 {
        top: 12vh;
        left: 68vw;
        grid-template: repeat(4, 1fr) / 1fr;
        display: grid;
        height: auto;
        position: absolute;
    }

    &-4 {
        grid-template: repeat(5, 1fr) / 1fr;
        display: grid;
        height: auto;
        position: absolute;
        top: 45vh;
        left: 84vw;
    }

    &__detailed {
        transform: translate(0, 300px);
    }

    @media only screen and (max-width: 996px) {
    &-1 {
        top: 27vh;
    left: 5vw;
    }

    &-2 {
        top: 74vh;
        left: 10vw;
    }

    &-3 {
        top: 12vh;
        left: 59vw;
    }

    &-4 {
        top: 38vh;
    left: 79vw;
    }
    }

    

    @media only screen and (max-width: 600px) {

        h5 {
            font-size: calc(2rem + .5vw)
        }
      }
  }


}

  .projects-title {
    position: absolute;
    top: -3.1vw;
    left: 50%;
    width: 94vw;
    transform: translate(-50%, -50%);
  }

  .about-hovered {
      .about__content__skill__detailed {
          &-1, &-6, &-10, &-14 {
            -webkit-animation: skillsAnimation 1.2s 1s ease forwards;
                    animation: skillsAnimation 1.2s 1s ease forwards;
          }

          &-2, &-7, &-11, &-15 {
            -webkit-animation: skillsAnimation 1.5s 1s ease forwards;
                    animation: skillsAnimation 1.5s 1s ease forwards;
          }

          &-3, &-8, &-12, &-16 {
            -webkit-animation: skillsAnimation 1.8s 1s ease forwards;
                    animation: skillsAnimation 1.8s 1s ease forwards;
          }

          &-4, &-9, &-13, &-17 {
            -webkit-animation: skillsAnimation 2.1s 1s ease forwards;
                    animation: skillsAnimation 2.1s 1s ease forwards;
          }

          &-5,  &-18 {
            -webkit-animation: skillsAnimation 2.4s 1s ease forwards;
                    animation: skillsAnimation 2.4s 1s ease forwards;
          }
      }
  }

}

@-webkit-keyframes introLineAnimation {
  to {
    width: 88vw;
  }
}

@keyframes introLineAnimation {
  to {
    width: 88vw;
  }
}

@-webkit-keyframes lineAnimation {
    0% {
      width: 88vw;
      height: 5px;
    }
  
    50% {
      width: 24vw;
      height: 5px;
    }
  
    100% {
      width: 24vw;
      height: 32vw;
    }
}

@keyframes lineAnimation {
    0% {
      width: 88vw;
      height: 5px;
    }
  
    50% {
      width: 24vw;
      height: 5px;
    }
  
    100% {
      width: 24vw;
      height: 32vw;
    }
}

@media only screen and (max-width: 996px) {
    @-webkit-keyframes lineAnimation {
      0% {
        width: 88vw;
        height: 5px;
      }
    
      50% {
        width: 42vw;
        height: 5px;
      }
    
      100% {
        width: 42vw;
        height: 55vw;
      }
    }
    @keyframes lineAnimation {
      0% {
        width: 88vw;
        height: 5px;
      }
    
      50% {
        width: 42vw;
        height: 5px;
      }
    
      100% {
        width: 42vw;
        height: 55vw;
      }
    }
    }

@media only screen and (max-width: 600px) {
@-webkit-keyframes lineAnimation {
  0% {
    width: 88vw;
    height: 5px;
  }

  50% {
    width: 50vw;
    height: 5px;
  }

  100% {
    width: 50vw;
    height: 70vw;
  }
}
@keyframes lineAnimation {
  0% {
    width: 88vw;
    height: 5px;
  }

  50% {
    width: 50vw;
    height: 5px;
  }

  100% {
    width: 50vw;
    height: 70vw;
  }
}
}

@-webkit-keyframes scrollLine {
  0% {
    top: 100vh;
  }

  100% {
    top: 65vh;
  }
}

@keyframes scrollLine {
  0% {
    top: 100vh;
  }

  100% {
    top: 65vh;
  }
}

@-webkit-keyframes introCircle {
  0% {
    transform: scale(0);
    box-shadow: inset 0px 0px 0px 0px var(--secondcolor);
  }

  100% {
    transform: scale(1);
    box-shadow: inset 0px 0px 0px 0px var(--secondcolor);
  }
}

@keyframes introCircle {
  0% {
    transform: scale(0);
    box-shadow: inset 0px 0px 0px 0px var(--secondcolor);
  }

  100% {
    transform: scale(1);
    box-shadow: inset 0px 0px 0px 0px var(--secondcolor);
  }
}

@-webkit-keyframes introCircleText {
  0% {
    fill: none;
  }

  100% {
    fill: var(--secondcolor);
  }
}

@keyframes introCircleText {
  0% {
    fill: none;
  }

  100% {
    fill: var(--secondcolor);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.top-section {
  position: fixed;
  left: 50%;
  top: 0%;
  width: 0vw;
  height: calc(8rem + .5vw);
  transform: translate(-50%, 0);
  background: var(--maincolor);
  z-index: 101;
  -moz-column-gap: 60vw;
       column-gap: 60vw;
  visibility: hidden;
  transition: 0.5s;
  visibility: visible;
  transition: 0.5s;
  -webkit-animation: introTopSection 1s ease-in-out forwards;
          animation: introTopSection 1s ease-in-out forwards;

  &.open {
    height: 100vh !important;

    .top-section__menu-list {
      display: grid;
    }
  }

  &__button {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: calc(1rem + .5vw);
    height: calc(8rem + .5vw);
    width: calc(8rem + .5vw);
    z-index: 1;
    opacity: 0;

    &.visible {
      -webkit-animation: fadeIn 0.3s linear forwards;
              animation: fadeIn 0.3s linear forwards;
    }

    &__icon {
      width: calc(3rem + .5vw);
      height: calc(3rem + .5vw);
      display: grid;
      place-items: center;

      #menu-icon-svg {
        width: calc(3rem + .5vw);

        transition: 0.5s;

        rect {
          fill: var(--secondcolor);
          stroke: var(--secondcolor);
          stroke-width: 0.5;
          stroke-miterlimit: 10;
        }
      }

      #menu-icon-svg.rotated {
        transform: rotate(45deg);
      }
    }
  }

  &__menu-list {
    height: 60vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    grid-template: repeat(4, 1fr) / 1fr;
    list-style: none;
    display: none;
    margin: 0;
    padding: 10vh 0;
    justify-items: start;

    &__item {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: grid;
      overflow: hidden;
      grid-template: 1fr / 1fr;

      &.hovered {
        .top-section__menu-list__item__category:after {
          width: 200%;
        }
      }

      &__category {
        font-size: calc(3.5rem + .5vw);
        text-align: start;
        letter-spacing: 0.5vw;
        transform: translateY(0) scale(1, 1);
        line-height: 15vh;
        font-weight: 400;
        margin: 0;
        padding: 0 0 0 calc(7rem + .5vw);

        &:after {
          content: "";
          width: 0vw;
          height: 2px;
          background: var(--secondcolor);
          position: absolute;
          left: 3vw;
          top: 50%;
          transition: 0.5s;
        }
      }
    }
  }
}

@-webkit-keyframes introTopSection {
  to {
    width: 100vw;
  }
}

@keyframes introTopSection {
  to {
    width: 100vw;
  }
}

@-webkit-keyframes introMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes introMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideUpMenu {
  0% {
    transform: translateY(160px) scale(1, 2.1);
  }

  100% {
    transform: translateY(0) scale(1, 2.1);
  }
}

@keyframes slideUpMenu {
  0% {
    transform: translateY(160px) scale(1, 2.1);
  }

  100% {
    transform: translateY(0) scale(1, 2.1);
  }
}

@-webkit-keyframes slideUp {
  0% {
    transform: translate(-50%, calc(-50% + 250px)) scale(1, 1.5);
  }

  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, calc(-50% + 250px)) scale(1, 1.5);
  }

  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

@-webkit-keyframes introTitle {
  to {
    transform: translate(-50%, calc(-50%));
  }
}

@keyframes introTitle {
  to {
    transform: translate(-50%, calc(-50%));
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}






@-webkit-keyframes skillsAnimation {
  0% {
    transform: translate(0, 300px);
  }

  100% {
    transform: translate(0, 0);
  }
}






@keyframes skillsAnimation {
  0% {
    transform: translate(0, 300px);
  }

  100% {
    transform: translate(0, 0);
  }
}



.projects {
  height: 810vh;
  width: 100vw;
  position: absolute;
  top: 170vh;
  left: 0vw;
  z-index: -1;

  &__title {

    overflow: hidden;
    top: -10vw;
    position: absolute;
    left: 0;
    width: 70vw;
    transform: translate(0, -50%);

    h3 {
        top: 50%;
        font-size: calc(1.8rem + .5vw);
        width: 100vw;
        text-align: center;
        font-weight: 400;
        transform: translate(0, 250px);
    }
  }

  @media only screen and (max-width: 1200px) {
    &__title {
        top: 4vw;
        width: 100vw;
    }
  }

  &__project {
    width: 100vw;
    height: 250vh;
    mix-blend-mode: difference;
    position: relative;

    &-1 {
        top: 60vh;

        .projects__project__img-1 {
            width: 50vw;
            height: 80vh;
            left: 0vw;
            top: 30%;
        }

        .projects__project__img-2 {
        width: 40vw;
        height: 85vh;
        right: 0vw;
        top: 55%;
        }
    }

    &-2 {
        top: 60vh;

        .projects__project__img-1 {
            width: 50vw;
            height: 50vh;
            left: 0vw;
            top: 60%;
          }
          .projects__project__img-2 {
            width: 40vw;
            height: 60vh;
            right: 0vw;
            top: 45%;
          }
    }

    &-3 {
        top: 60vh;

        .projects__project__img-1 {
            width: 45vw;
            height: 80vh;
            left: 0vw;
            top: 40%;
          }
          .projects__project__img-2 {
            width: 50vw;
            height: 60vh;
            right: 0vw;
            top: 50%;
          }
    }

    &__img {
        background: var(--secondcolor);
        position: absolute;
        transform: translate(0, -50%);
        mix-blend-mode: difference;
        z-index: 180;
    }

    @media only screen and (max-width: 1200px) {
        &__img {
        transform: translate(0, -50%) scale(.9, .5);
        }
    }
  }
}


.project-title {
  display: grid;
  place-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow: hidden;
  width: 100vw;
  height: 15vh;
  z-index: -1;
  mix-blend-mode: difference;

  h3 {
    font-size: calc(12rem + 0.5vw);
    width: 94vw;
    text-align: center;
    mix-blend-mode: difference;
    z-index: 150;
    font-weight: 600;
    top: 160%;
    position: absolute;
    transform: translate(0, -50%);
  }
}


@media only screen and (max-width: 996px) {
    .project-title {
        

        h3 {
            line-height: normal;
            font-size: calc(5rem + 0.5vw);
        }
    }
}

.title-1-indicator,
.title-2-indicator,
.title-3-indicator {
  transform: translate(-50%, -50%);
  left: 50%;
  top: -15%;
  position: relative;
  width: 100vw;
  height: 1px;
}

.title-1-indicator-end,
.title-2-indicator-end,
.title-3-indicator-end {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: relative;
  width: 100vw;
  height: 1px;
}

.contact {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 990vh;
  left: 50%;
  transform: translate(-50%, 0);

  &__scroll-line {
    top: 0vh;
    left: 50vw;
    width: 2px;
    background: var(--secondcolor);
    position: absolute;
  }

  @media only screen and (max-width: 996px) {
    &__scroll-line {
    width: 1.5px;
    }
  }

  &__links {
      &__line {
        width: 3px;
        height: 106%;
        position: absolute;
        bottom: -25vh;
        left: 0;
        transform: translate(-50%, -50%);
        background: var(--secondcolor);
        
      }
  }

  &__title {

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: grid;
    place-items: center;
    overflow: hidden;

      h1 {
        letter-spacing: 5px;
        padding: 0 3vw;
        transform: translate(0, 250px);
        margin: 0;
        text-align: start;
        font-weight: 400;
        width: 94%;
      }
  }

  &__title-line {
    height: 2px;
    width: 0vw;
    top: 30vh;
    background: var(--secondcolor);
    position: absolute;
    transform: translate(0, -50%);
  }

  @media only screen and (max-width: 996px) {
    &__title {

        top: 27%;

        h1 {
            font-size: calc(3rem + .5vw);
            height: calc(5rem + .5vw);
        }
        
    }
  }

  @media only screen and (max-width: 996px) {
    &__title-line {
        height: 1.5px;
    }
  }

  &__square {
    height: 1vw;
    width: 1vw;
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 100;
    top: 30vh;
  }

  &__links {
    position: absolute;
    height: 40vh;
    width: 50vw;
    left: 50vw;
    bottom: 8vh;

            div {
        margin: 0;
        position: absolute;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        overflow: hidden;

        &::after {
            content: "";
            width: 0vw;
            height: 2px;
            background: var(--secondcolor);
            position: absolute;
            right: -3vw;
            top: 50%;
            transition: 0.5s;


        }

        &.hovered::after {
            width: 200%;
        }

        a {
            font-size: calc(4rem + .5vw);
            color: var(--secondcolor);
            letter-spacing: 0.2vw;
            transition: 0.5s;
            font-weight: 400;
            position: relative;
            top: 10vw;
        }

        

        }

        &__email {
            right: 3vw;
            top: 30%;
        }

        &__github {
            right: 3vw;
            top: 50%;
        }

        &__linkedin {
            right: 3vw;
            top: 70%;

            h5 {
                transition: 0.5s;
            }
        }
  }

  @media only screen and (max-width: 1200px)  {
    &__links {
        height: 30vh;

        div a {
            font-size: calc(3rem + .5vw)
        }
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 992px) and (orientation: landscape) {
    &__links {
        height: 40vh;

    }

  }

  &__back-container {
    width: 100vw;
    height: 8vh;
    position: absolute;
    bottom: 0;
    left: 0%;
    display: grid;
    place-items: center;
    border-top: 2px solid var(--secondcolor);
    overflow: hidden;
    background: var(--maincolor);

    h5 {
        font-size: calc(1.3rem + .5vw);
        position: static;
        color: var(--secondcolor);
        top: 50%;
        left: 10%;
        letter-spacing: 2px;
        font-weight: 400;
        line-height: 2.2vw;
        
    }

    span {
        border-bottom: 2px solid var(--secondcolor);
    }

    &__back-arrow {
        width: calc(1.8rem + .5vw);
        font-size: calc(1.8rem + .5vw);
        display: inline-block;
        -webkit-animation: backArrow 1.5s ease-in-out infinite;
                animation: backArrow 1.5s ease-in-out infinite;
        padding: 0 0 0 0.2vw;
    }
  }

  @media only screen and (max-width: 996px) {
    &__back-container {
        border-top: 1.5px solid var(--secondcolor);;
    }
  }

  &__info-container {

    width: 45vw;
    height: 30vh;
    position: absolute;
    bottom: 13vh;
    left: 3vw;
    overflow: hidden;

    h5 {
        top: auto;
        font-size: calc(1.8rem + .5vw);
        left: 0%;
        letter-spacing: 0.2vw;
        font-weight: 400;
        bottom: 0;
        height: 5vw;
        color: var(--secondcolor);
        transform: translate(0, 250px);
        line-height: 2.2vw;
        position: absolute;
        transition: .5s;
    }

    span {
        border-bottom: 2px solid var(--secondcolor);
    }

    .heart {
        display: inline-grid;
        height: 1.2vw;
        width: 1vw;
        place-items: center;

        svg {
            width: 90%;
            -webkit-animation: heartBeating 1.5s ease-in-out infinite both;
                    animation: heartBeating 1.5s ease-in-out infinite both;
        }

        path {
            fill: var(--secondcolor);
        }
      }
      
  }


  @media only screen and (max-width: 996px) {

    &__info-container {

        
        h5 {

            height: auto;   
    line-height: calc(2.5rem + .5vw);
    font-size: calc(1.3rem + .5vw);
    }

    span {
        border-bottom: 1.5px solid var(--secondcolor);
    }

    .heart {
        height: calc(1.3rem + .5vw);
        width: calc(1rem + .5vw);
    }
    }
  }

}



@-webkit-keyframes backArrow {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(1px);
  }
}



@keyframes backArrow {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(1px);
  }
}



@-webkit-keyframes heartBeating {
  0% {
    width: 90%;
  }

  10% {
    width: 80%;
  }

  17% {
    width: 85%;
  }

  33% {
    width: 75%;
  }

  45% {
    width: 90%;
  }
}



@keyframes heartBeating {
  0% {
    width: 90%;
  }

  10% {
    width: 80%;
  }

  17% {
    width: 85%;
  }

  33% {
    width: 75%;
  }

  45% {
    width: 90%;
  }
}

